<!DOCTYPE html>
<html lang="fr" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Exo </title>
    <!--<style href="bower_components/bootstrap/dist/css/bootstrap.min.css"></style>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--    Controller du container-->
    <section class="container" ng-controller="movieController">

        <!--//Header-->
        <div ng-controller="HeaderController">
            <div ng-include="'app/partials/header.html'"></div>
        </div>


        <!--//Content-->
        <div ng-controller="ContentController">
            <div ng-include="'app/partials/content.html'"></div>>
        </div>

        <!--Alert qui est caché par default-->
        <div id="movie-form-modal" class="modal fade" aria-labelledby="myModalLabel" ng-controller="movieFormController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <header class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ajouter un film</h4>
                     </header>
                        <div class=" input control-group col-xs-12 col-md-12 col-md-12 col-lg-12">
                                <label class="col-md-2 control-label ">Titre</label>
                                <div class="col-md-10">
                                    <input type="text" name="title" ng-model="movie.title">
                                </div>
                            </div>

                        <div class=" input control-group col-xs-12 col-md-12 col-md-12 col-lg-12">
                                <label class="col-md-2 control-label" >Année</label>
                                <div class="col-md-10">
                                    <input type="text" name="annee" ng-model="movie.releaseYear">
                                </div>
                            </div>

                        <div class=" input control-group col-xs-12 col-md-12 col-md-12 col-lg-12">
                                <label class="col-md-2 control-label">Réalisateur</label>
                                <div class="col-md-10">
                                    <input type="text" name="realisateur" ng-model="movie.directors">
                                </div>
                            </div>

                        <div class=" input control-group col-xs-12 col-md-12 col-md-12 col-lg-12">
                                <label class="col-md-2 control-label">Acteur</label>
                                <div class="col-md-10">
                                    <input type="text" name="acteur" ng-model="movie.actors">
                                </div>
                            </div>

                        <div class=" input control-group col-xs-12 col-md-12 col-md-12 col-lg-12">
                                <label class="col-md-2 control-label">Synopsys</label>
                                <div class="col-md-10">
                                    <input type="text" name="synopsys" ng-model="movie.synopsis">
                                </div>
                            </div>

                        <div class=" input control-group col-xs-12 col-md-12 col-md-12 col-lg-12">
                                <label class="col-md-2 control-label">Evaluation</label>
                                <div class="col-md-10">
                                    <input type="text" name="rate" ng-model="movie.rate">
                                </div>
                            </div>
                    <footer class="modal-footer">
                            <button class="btn btn-danger" ng-click="removeMovie(movie)">Effacer</button>
                            <button class="btn btn-success" ng-click="addMovie(movie)">Ajouter le film</button>
                        </footer>
                </div>
            </div>
        </div>
    </section>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="app.js"></script>
<script src="js/controllers/movieController.js"></script>
<script src="js/controllers/movieFormController.js"></script>
<script src="js/controllers/HeaderController.js"></script>
<script src="js/controllers/ContentController.js"></script>
<script src="js/factories/movies.js"></script>
</body>
</html>