img {
    width:370px;
}
.input {
    margin-bottom: 10px;
}
/*.formContainer {*/
    /*border-radius: 25px;*/
    /*width: 400px;*/
/*}*/

/*.formContainer input {*/
    /*float: right;*/
/*}*/

/*.formContainer label {*/
    /*line-height: 2;*/
/*}*/


.film {
    margin-bottom: 30px;
}




